body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.main-container {
    display: flex;
    flex-direction: row; /* שתי שורות נפרדות */
    gap: 35rem; /* רווח גדול בין העמודות */
}

.column-left {
    display:flex;
    flex-direction: column; /* עמודה שמאלית */
    gap: 1rem; /* מרווח בין הריבועים */
}

.column-right {
    display:flex;
    flex-direction: column; /* עמודה ימינית */
    gap: 1rem; /* מרווח בין הריבועים */
    position:relative;
    top: 76px;
}

.square {
    background-color: yellow;
    color: rgb(0, 0, 0);
    text-align:center;
    font-size: 1em;
    aspect-ratio: 1 / 1; /* ריבועים בגודל שווה */
    min-width: 60px; /* רוחב מינימלי קטן יותר */
    min-height: 60px; /* גובה מינימלי קטן יותר */
}
