input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.cursor-pointer {
  cursor: pointer;
}

.scroll-behavior-smooth {
  scroll-behavior: smooth;
}

.card {
  width: 14rem;
}
img {
  max-width: 18rem;
  max-height: 16rem;
}
#cardForm {
  max-width: 56.5rem;
}
