.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80vw;
    height: 80vh;
    border: 1px solid black;
    flex-wrap: wrap;
    align-content: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.box {
    width: 20%;
    flex: 1;
    border: 1px solid rgb(0, 0, 0)
}

.first {

    background-color: red;
}

.second {
    flex: 2;
    background-color: green;
}

.third {
    background-color: blue;
}