body {
    background-color: #a5d2e1;
    font-size: 30px;
}

a {
    display: block;
    font-size: ;
}

img {
    width: 290px;
    height: 290px;
    object-fit: cover;
    display: block;
}

span {
    display: inline-block;
    border: 4px dotted black;
    display: inline-block;
}

hr {
    margin-bottom: 0;
}

.container {
    font-size: 0px;
}

.box {
    font-size: 30px;
    border: 6px solid rgba(0, 0, 0, 0.2);
    display: inline-block;
    border-style: ;
}