body{
    width: 600px;
}

.container > p{
    width: 300px;
    height: 300px;
    color: blue;
    border: 10px black solid;
}

.homework5{
margin: 20px;
padding: 30px;
border: 10px solid black;
font-size: 16px;
line-height: 1em;
width: 300px;
}

#firstOne{
    width: 100px;
    height: 100px;
    background-color: rgb(84, 57, 6);

}

 #SecondOne{
    width: 100px;
    height: 100px;
    background-color: rgb(215, 154, 41);
    margin: 15px 15px 0px 0px;
}
#ThirdOne{
    width: 100px;
    height: 100px;
    background-color: rgb(240, 206, 144);
}

.question10{
    width: 300px;
    height: 300px;
    border: 1px black solid;
} 