.parent {
    width: 600px;
    height: 6000px;
    position: relative;
    border: 5px solid black;
}

.child1 {
    width: 100px;
    height: 100px;
    background-color: aqua;
}

.child2 {
    width: 100px;
    height: 100px;
    background-color: yellow;
}

.child3 {
    width: 100px;
    height: 100px;
    background-color: green;
