* {
    box-sizing: border-box;
}

.html {
    font-size: 62.5%;
}

.body {
    font-size: 1.6rem;
}

.container {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
}

.box {
    height: 15%;
    width: 15%;
    background-color: rgb(102, 200, 228);
    border: black 1px solid;
    margin: 5px;
    text-align: center;
}

#first{
    box-sizing: content-box; 
    padding: 2rem;
    text-align: center;   
}

#second{
    box-sizing: content-box; 
    padding: 4rem;
    text-align: center; 
}
#third{
    box-sizing: content-box; 
    padding: 0.5rem;
    text-align: center; 
}