/* 10.5*/
body {
    width: 600px;
}

/*rem stands for root em
It’s a relative unit, just like em, but instead of being based on the element’s font size, it’s always based on the root element's font size — typically the <html> element.
font-size: 16px is default in most browsers */

div {
    font-size: 10px;
    /* The <div> uses rem, so it ignores its own font-size (10px) for sizing.
 It calculates based on root font-size (16px)*/
    width: 50rem;
    /* The <body> is only 600px wide, but the <div> will overflow it horizontally because it's 800px wide. */
    height: 50rem;
    background-color: gold;
    border: 1px solid black;
}