* {
    box-sizing: border-box;
}

.container {
    width: 90vw;
    height: 90vh;
    border: 5px goldenrod solid;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    /* align-content: center; */
}

.yellow {
    background-color: goldenrod;
    color: black;
    text-align: center;
    margin: 2vh;
    width: 10vh;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

p {
    margin: 0;
}