.container{
    display: grid;
    width: 100vw;
    height: 100vh;
    gap: 10px;
    grid-template: repeat(2, 40rem) / repeat(2, 40rem);
}

.box{
    background-color: rgba(168, 234, 243, 0.788);
    display: flex;
    font-size: 2.5rem;
}
.grape{
    width: 40%;
    height: 40%;
    float: left;
}
.coffe{
     border: black solid 1px;
 }
 




