.container{
    width: 90vw;
    height: 90vh;
    display: grid;
    grid-template: repeat(2, 50%) /  repeat(2, 50%) ;
    gap: 10px;
}

.box{
    background-color: rgb(208, 242, 245);
    border: 2px black solid;
}

.grape{
    width: 30%;
    height: 25%;
    float: left;
    margin: 17px;
}
.coffe{
    width: 30%;
    height: 25%;
}
p{
    font-size: 1rem;
    text-align: start;
}

.border{
    border: 1px black solid;
    display: flex;
    justify-content:baseline;
    margin-top: 5% ;

}

.left{
    width: 90%;
    height: 90%;
    display: grid ;
    grid-template: repeat(5, auto) / repeat(5, auto) ;
    margin: 5px;
    
}

.red-left{
    background-color: red;
    border: 1px black solid;
    height: 100%;
    width: 100%;
}
.green-left{
    background-color: green;
    border: 1px black solid;
    height: 100%;
    width: 100%;
    grid-column: 3/4;
    grid-row: 2/3;
}
.blue-left{
    background-color: blue;
    border: 1px black solid;
    height: 100%;
    width: 100%;
    grid-column: 5/6;
    grid-row: 3/4;
    
}

.right{
    width: 90%;
    height: 90%;
    display: grid;
    grid-template: repeat(5, auto) / repeat(5, auto) ;
    margin: 5px;
}

.red-right{
    background-color: red;
    border: 1px black solid;
    height: 100%;
    width: 100%;
    grid-column:5/6;
    grid-row: 3/4;
}
.green-right{
    background-color: green;
    border: 1px black solid;
    height: 100%;
    width: 100%;
    grid-column: 3/4;
    grid-row: 4/5;
}
.blue-right{
    background-color: blue;
    border: 1px black solid;
    height: 100%;
    width: 100%;
    grid-column: 1/2;
    grid-row: 5/6;
    
}



