.container {
    margin: auto;
    width: 90vw;
    height: 90vh;
    border: salmon 3px solid;
    display: grid;
    grid-template-columns: auto ;
    grid-template-rows: 20% auto;
    grid-template-areas:
        "header header header"
        "main main sidebar"
        "footer footer footer";

}

.box {
    width: 35%;
    height: 30%;
    background-color: salmon;
    display: grid;
    justify-content: center;
    align-items: center;
    font-size: 0.9rem;
}

.item-a {
    grid-area: header;
    display: flex;
    justify-content: center;
    align-items: center;
}

.item-b {
    grid-area: main;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: justify;
    margin: 10px;
}

.item-c {
    grid-area: sidebar;
}


.item-d {
    grid-area: footer;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

/* .item-a {
    grid-area: header;
  }
  .item-b {
    grid-area: main;
  }
  .item-c {
    grid-area: sidebar;
  }
  .item-d {
    grid-area: footer;
  }
  
  .container {
    display: grid;
    grid-template-columns: 50px 50px 50px 50px;
    grid-template-rows: auto;
    grid-template-areas: 
      "header header header header"
      "main main . sidebar"
      "footer footer footer footer";
  } */