.container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: end;
    width: 60vw;
    height: 100vh;
    border: 1px solid gold;
    flex-wrap: wrap;
    align-content: center;
}

.box {
    width: 100px;
    height: 100px;
    border: 1px solid black;
}

.first {
    background-color: red;
}

.second {
    overflow: visible;
    background-color: green;
}

.third {
    background-color: blue;
}