div {
    width: 100px;
    height: 100px;
}
#father {
    width: 600px;
    height: 600px;
    border: 1px black solid;
    position: relative;
}
#son1 {
    background-color: red;
}
#son2 {
    background-color: green;
    position: absolute;
    top: 0;
    right: 0;
}
#son3 {
    background-color: blue;
}
