/* # 10.3*/
body {
    width: 600px;
    /*The body { width: 600px; } does not affect the <div> in this case, because the <div> uses viewport units – not relative to its parent.*/
}

div {
    width: 50vw;
    /*vw = viewport width
1vw = 1% of the browser window’s width*/
    height: 50vh;
    /*vh = viewport height
1vh = 1% of the browser window’s height*/
    background-color: gold;
    border: 1px solid black;
}