html {
  /* 10px */
  font-size: 62.5%;
  font-family: "Assistant", sans-serif;
}

body {
  direction: rtl;
  /* 16px */
  font-size: 1.6rem;
  margin: 0;
  background-color: #f8f9fa;
  background-position: center;
  min-height: 100vh;
  font-size: 1rem;
}

.card-img-top {
  aspect-ratio: 3 / 4;
  object-fit: cover;
}

.delete-btn {
  z-index: 2;
}
