.card {
  position: relative;
}

.card-img-top {
  height: 180px;
  object-fit: cover;
}

.btn-delete {
  position: absolute;
  top: 8px;
  right: 8px;
}

.stars {
  color: #d96459;
}
