#para {
    font-size: 25px;
}

/* font size: 25px; */
/* color: blue; */

.gold {
    color: gold;
}

/* font size: 45px; */
/* color: gold; */

p {
    color: blue;
    font-size: 45px;
}

/* font size: 45px; */
/* color: blue; */




Don't use this selector


[href="http://www.google.com/"] {
    font-size: 30px;
}


[href *="google"] {
    font-size: 30px;
    background-color: red;
}

[href ^="http"] {
    font-size: 30px;
    background-color: yellow;
}

[href $="com"] {
    font-size: 30px;
    background-color: pink;
}