/* #1 Targets <div class="container"> */
/* div.container {
    height: 300px;
    width: 300px;
    background-color: blue;
    border: 1px solid black;
} */


/* #2 Matches any tag with class .container inside a <div> */
/* div .container {
    height: 300px;
    width: 300px;
    background-color: blue;
    border: 1px solid black;
} */


/* #3 Matches any <p>inside a <div>(at any depth) */
div p {
    height: 300px;
    width: 300px;
    background-color: blue;
    border: 1px solid black;
}


/* #4 Strictly parent → child: matches only direct <p>child of .container */
.container > p {
    height: 300px;
    width: 300px;
    background-color: blue;
    border: 1px solid black;
}