    ul {
        list-style: square;
    }
    
    ul li:nth-child(even) {
        color: blue;
    }
    
    ul li:nth-child(3) {
        color: gold;
    }
    
    dl dd:nth-of-type(even) {
        color: blue;
    }
    
    dl dd:nth-of-type(3) {
        color: gold;
    }