.dad{
    width: 600px;
    height: 600px;
    border: black 1px solid;
}

.div1{
    width: 100px;
    height: 100px;
    background-color: blue;
    border: 1px black solid;
}
.div2{
    width: 100px;
    height: 100px;
    background-color: gold;
    border: 1px black solid;
}
.div3{
    width: 100px;
    height: 100px;
    background-color: green;
    border: 1px black solid;
}