/*קבע את הריבוע השני בפינה הימנית העליונה של האב

כאן צריך להשתמש ב־
position: absolute ביחס לאב
*/
.conteiner {
    position: relative;
  }
  
  #second {
    position: absolute;
    top: 0;
    right: 0;
  }
  