body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

label {
    display: block;
}

label:hover {
    cursor: pointer;
}

input:hover {
    cursor: pointer;
}

input {
    width: 300px;
}

/* law of proximity */
.form-group {
    margin-top: 1rem;
}

input:focus {
    /* border-color: yellow; */
    outline: 0;
}

form {
    padding: 1rem;
}