li:nth-child(even){
    color: blue;
}
ol:nth-child(odd){
    color: black;
}
dd:nth-child(odd){
    color: blue;
}
li:last-child{
    color: gold;
}
dd:nth-of-type(3n){
    color: gold;
}
a:hover{
    cursor:grab;
    font-size: 150%;
}
dt:first-of-type ~ dd:nth-child(-n+4){
    font-size: 45px;
}