* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    /* rem=10px */
}

body {
    font-size: 1.6rem;
    /* font-size=16px */
}

.container {
    width: 100vw;
    height: 100vh;
    background-color: aquamarine;
    padding: 2rem;
}

.header {
    width: 90%;
    height: 5%;
    background-color: black;
    color: white;
    padding: 2rem;
    border-radius: 5px;
    margin: auto;
}
.content {
    width: 90%;
    height: 65%;
    background-color: white;
    margin: 1rem auto;
    font-size: 2rem;
    padding: 2rem;
    border-radius: 5px;
}


.footer {
    width: 90%;
    margin: auto;
    text-align: center;
}

p {
    /* width: 90%;
    height: 65%; */
    margin: 0;
}

.box {
    width: 50%;
    height: 50%;
    background-color: lightblue;
    margin-top: 0.5em;
    padding: 0.5em;
    font-size: 0.75em;
}